<div class='form-group row'>
  <%= f.label :password, class: "col-#{default_grid_system}-4 form-control-label" %>
  <div class='col-<%= default_grid_system %>-8'>
  	<%= f.password_field :password, class: 'form-control' %>
  	<%= error_messages f.object, :password %>
  </div>
</div>
<div class='form-group row'>
  <%= f.label :password_confirmation, class: "col-#{default_grid_system}-4 form-control-label" %>
  <div class='col-<%= default_grid_system %>-8'>
  	<%= f.password_field :password_confirmation, class: 'form-control' %>
  	<%= error_messages f.object, :password_confirmation %>
  </div>
</div>