<div class="<%= default_col_class %>">
  <%= render "shared/users/user_avatar", f: f %>
</div><!-- /.col -->

<div class="<%= default_col_class %>">
  <%= render "shared/users/user_main_fields", f: f %>
  <% unless action_name == "edit" %>
    <p class="text-danger"><%= t ".password_note" %></p>
  <% end %>
</div><!-- /.col -->
<div class="<%= default_col_class %>">
  <hr>
  <button class="btn btn-primary" type="submit"><%= icon "floppy-o", t("buttons.save") %></button>
  <% if action_name == "edit" %>
    <button type="button" class="btn btn-danger-outline" data-toggle="modal" data-target="#modal">
      <%= icon "trash-o", t(".confirm.delete.button") %>
    </button>
    <%= render partial: "shared/modals/modal", locals: {  
    title: t(".confirm.delete.title"),
    body: t(".confirm.delete.body"),
    ok_link: link_to(t("buttons.delete"), settings_user_path(@user), method: :delete, class: "btn btn-danger"),
    cancel_link_text: t("buttons.cancel") } %>
  <% end %>
</div><!-- /.col -->