<% provide :title, t(".title") %>
<% provide :main_content_title, t(".title") %>
<% provide :main_content_filter  %>

<p><%= t ".title" %></p>

<div class="card card-full card-content">
  <div class="card-block">
    <div class="row">
      <div class="col-<%= default_grid_system %>-6">
        <%= search_tag settings_users_path, id: "users-search" %>
      </div><!-- /.col -->
      <div class="col-<%= default_grid_system %>-6">
        <div class="pull-right">
          <%= link_to icon(:plus, t(".add_user_link")), new_settings_user_path, class: "btn btn-secondary" %>
        </div>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row m-t-1 m-b-2">
      <div class="<%= default_col_class %>">
        <%= link_sort_tag(:sort, main_class: "default-link-style", selected_in_title: true) do %>
        <%= option_for_sort(:last_name, "по имени", default: true) %>
        <%= option_for_sort(:created_at, "по дате регистрации") %>
        <% end %>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row">
      <table class="table v-align">
        <tbody>
          <% @users.each do |user| %>
          <%= render "shared/users/user_item", user: user %>
          <% end %>
        </tbody>
      </table>
      <div class="<%= default_col_class %>">
        <div class="pagination-block">
          <%= will_paginate @users, inner_window: 2, outer_window: 1 %>
          <div class="pagination-info text-muted">
            <small><%= page_entries_info @users, model: User, html: false %></small>
          </div><!-- /.pagination-info -->
        </div><!-- /.pagination-block -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.card-block -->
</div><!-- /.card -->