<nav class='navbar navbar-main navbar-fixed-top navbar-light bg-white'>
  <button class='navbar-toggler hidden-sm-up' type='button' data-toggle='collapse' data-target='#main-navbar'>
    &#9776;
  </button>
  <div class='collapse navbar-toggleable-xs' id='main-navbar'>
    <a class='navbar-brand' href='#'><%= app_name %></a>
    <ul class='nav navbar-nav'>
      <%= nav_link_to t('.individual'), root_path %>
      <%= nav_link_to t('.company'), root_path %>
    </ul>
		<ul class='nav navbar-nav pull-right'>
      <%= render 'layouts/language_menu' %>
	    
			<% if logged_in? %>
				<%= render 'layouts/user_menu' %>
			<% else %>
        <li class='nav-item'><%= link_to t('.login'), login_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to t('.signup'), signup_path, class: 'btn btn-primary-outline', role: 'button' %></li>
			<% end %>
		</ul>
  </div><!--/.nav-collapse -->
</nav><!--/.navbar -->