<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, cache: true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/base_header' %>
  <div class='container content'>
    <div class='row'>
      <div class='col-<%= default_grid_system %>-12'>
        <%= render 'layouts/flash' %>
      </div>
    </div>
    <div class='row'>
      <%= yield %>
    </div>
    
  </div>
  <footer id='footer' class='footer footer-dark'>
    <div class='container'>
      <%= render 'layouts/debug' %>
    </div>
  </footer>
</body>
</html>